extends baseEmail 

block content 
                            
  p Dobrý deň #{firstName},
  p Ďakujeme Vám za Vašu správu!
  p Váš email: #{email}
  p Vaša správa: #{message}
  p Ozveme sa Vám čoskoro.
