extends baseEmail 

block content 
                            
  p Ahoj admin, platba objednávky #{orderNumber} zlyhala.
  

   
  //a(href='https://prud.pictusweb.site/admin/reviews') Na recenziu 
  
  
