extends baseEmail 

block content 
                            
  p Ahoj admin, Stripe error #{email}.
  
  p Error: #{error}
  

   
  //a(href='https://prud.pictusweb.site/admin/reviews') Na recenziu 
  
  
