extends baseEmail 

block content 
                            
  p Ahoj admin, používateľ #{firstName} napísal novú recenziu na Eshope.
  p Text recenzie: #{comment} 

   
  a(href='https://prud.pictusweb.com/admin/reviews') Na recenziu 
  
  
