extends baseEmail 

block content

  p Dobrý deň #{firstName},
  p Dokončite prosím svoju registráciu kliknutím na link nižšie.
  p Ďakujeme za Vašu registráciu v našom Eshope!
  p Váš email: #{email}

  a(href=`${url}`, target='_blank') Dokončenie registrácie
  
